<div class="bg-cover bg-center"
  [style.background-image]="'url(https://i.ibb.co/qC5HRHL/samsung-galaxy-s20-stock-hd-samsung.jpg)'">
  <header class="bg-white py-4">
    <nav class="container mx-auto flex justify-between">
      <a class="text-xl font-bold" href="#">Persuitial</a>
      <div>
        <a class="mx-2" href="/signup1">Sign Up</a>
        <a class="mx-2" href="/signin1">Sign In</a>
      </div>
    </nav>
  </header>
  <section class="container mx-auto py-24 text-center">
    <h1 class="text-4xl font-bold text-white">Welcome to My Website</h1>
    <p class="text-white mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique placerat
      malesuada. Sed eu eros non lacus sagittis vehicula eget ac nisi.</p>
  </section>
</div>