
<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/6BTxVCB/per-logo1.png" width="45%" height="45%" alt="per-logo"/>
    </a>
    <!-- main -->
    <div class="ml-auto">
        <a routerLink="signup" class="btn btn-outline-primary btn-custom-color">SignUp</a>
        <a routerLink="signin" class="btn btn-outline-primary btn-custom-color">SignIn</a>
        <a routerLink="about" class="btn btn-outline-primary btn-custom-color">About</a>
        
        <!-- <a routerLink="campaign" class="btn btn-outline-primary btn-custom-color">Campaign</a>
        <a routerLink="milestone" class="btn btn-outline-primary btn-custom-color">Milestone</a> -->
        <a href="https://example.com/create-account" class="btn btn-outline-primary btn-custom-color">Contact</a>
    </div>
  </nav>